body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, .footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: gray;
    padding: 10px;
    text-align: left;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  main {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    text-align: right;
  }
  
  .section-container {
    background-color: white;
    border: 10px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section-container h2 {
    margin-top: 0;
  }
  
  .section-container p {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .section-container img {
    margin: 0 auto; /* Esto centrarÃ¡ la imagen horizontalmente dentro del div */
    display: block; /* Asegura que la imagen se ajuste correctamente al centrarla */
  }
  
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    background-color: red;
  }
  
  .container-1 {
    background-color: orange;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .container-2 {
    background-color: greenyellow;
    height: 100%;
  }
  
  footer {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    
  }